<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quote, 'Add a quote from your class' %>
    <br>
    <%= f.text_area :quote, :size => "80x10", :required => true %>
  </div>
  <div class="field">
    <%= f.label :group_id, 'Class' %>
    <%= f.select :group_id, Group.all.map { |group| [group.name, group.id] }, :selected => "WDI-10" %>
  </div>
  <div class="actions">
    <%= f.submit :class =>"btn btn-primary pull-right"%>
  </div>
<% end %>
