<p id="notice"><%= notice %></p>

<h1 class="centerText">Classes</h1>
<hr>

<% @groups.each do |group| %>
  <div class="flexBox">
    <div class="imageLinksGroup">
      <% if group.avatar == nil %>
        <a href="<%= group_path(group) %>"><div class="thumbnailImage img-circle" style="background-image: url('/assets/avatar-default.png')" ></div></a>
      <% else %>
        <a href="<%= group_path(group) %>"><div class="thumbnailImage img-circle" style="background-image: url('<%= group.avatar %>')" ></div></a>
      <% end %>
      <h3><%= link_to group.name, group_path(group) %>
        <% if group.instructor %>
          <small>Instructor: <%= group.instructor %></small>
        <% end %>
      </h3>
      <% if @current_user.present? && @current_user.admin.present? %>
        <%= link_to 'Destroy Class', group, method: :delete, data: { confirm: 'Are you sure?' } %> | <%= link_to 'New Class', new_group_path %> 
      <% end %>
    </div>
  </div>
  <hr>
<% end %>

