<p id="notice"><%= notice %></p>

<h1>G.A.S</h1>

  <% @groups.each do |group| %>
    <div class="groupList">
      <% if group.avatar == "" %>
            <img src="/assets/avatar-default.png" width=100 height=100>
          <% else %>
            <img src=<%= group.avatar %>>
          <% end %>
     <p><%= link_to group.name, group_path(group) %></p>
     <p><%= group.instructor %></p>
     <p>Students: <%= group.users.length %></p>
      <% if @current_user.present? && @current_user.admin.present? %>
        <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %> 
      <% end %>
    </div>
  <% end %>

<br>




<% if @current_user.present? && @current_user.admin.present? %>
  <%= link_to 'Add a Class', new_group_path %> <br>
<% end %>
