<p id="notice"><%= notice %></p>

<p>
  <strong><%= @group.name %></strong>
</p>

<% @users.each do |user| %>
  <%= link_to user.name, [@group, user] %>
  <%= user.email %>
         <br>
<% end %>

<%= link_to 'New User', new_group_user_path(@group) %> |
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
