<p id="notice"><%= notice %></p>

<p>
  <strong><%= @group.name %></strong>
</p>

<% @users.each do |user| %>
       <p><%= link_to user.name, [@group, user] %></p>
       <p>Email: <%= user.email %></p>

    <% end %>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
