<p id="notice"><%= notice %></p>

<p>
  <strong><%= @group.name %></strong>
</p>
<p>
  <%= image_tag @group.avatar %>
</p>
<% @users.each do |user| %> 
  <%= user.name.capitalize %> -
  <% if user.tagline %>
    <i>"<%= user.tagline %>"</i> <br>
  <% end %>
  <% if user.avatar %>
    <img src="<%= user.avatar %>">
  <% end %>
  <%= link_to "Profile", [@group, user] %> |
  <%= link_to "Blog", group_user_posts_path(@group, user) %><br>
  <hr>
<% end %>

<% if @current_user && if @current_user.admin %>
  <%= link_to 'Edit', edit_group_path(@group) %>
<% end %>
<% end %>

