<p id="notice"><%= notice %></p>

<div class="tagCloud">
  
  <!-- One day, this will house the tag cloud -->

</div>

<div class="flexBox">
  <div class="imageLinksGroup">
    <% if @group.avatar == nil %>
      <div class="largeImage img-circle" style="background-image: url('/assets/avatar-default.png')" ></div>
    <% else %>
      <div class="largeImage img-circle" style="background-image: url('<%= @group.avatar %>')" ></div>
    <% end %>
    <h1 class="centerText"><%= @group.name %></h1>
    <div class="showQuotes btn btn-default">
      <h5>Inpsirational quotes from this class</h5>
    </div>

  </div>
</div>
<br>

<% @users.each do |user| %> 
  <div class="flexBox">
    <div class="imageLinksGroup">
      
      <% if user.avatar == "" %>
        <a href="<%= group_user_path(@group, user) %>"><div class="thumbnailImage img-circle" style="background-image: url('/assets/avatar-default.png');" ></div></a>
      <% else %>
        <a href="<%= group_user_path(@group, user) %>"><div class="thumbnailImage img-circle" style="background-image: url('<%= user.avatar %>')" ></div></a>
      <% end %>
      <h3><%= user.name.capitalize %> 
        <% if user.tagline %>
          <br>
          <small class="tagline"><i>"<%= user.tagline %>"</i></small> <br>
        <% end %>
      </h3>
      <%= link_to "Profile", [@group, user] %> |
      <%= link_to "Blog", group_user_posts_path(@group, user) %>
    </div>
  </div>
  <hr>
<% end %>

<div class="quoteBox">
  <div class="quotes">
  <p class="right closeMe">Close</p>
    <h2> Quotes From This Class</h2><br>
      <%  %>
      <% if @quotes == nil %>
        <p>No one has added any quotes yet. Be the first!! </p>
      <% else %>
        <i>"<%= @quotes.quote %>"</i>
        <br>

        <hr>
      <% end %>
  </div>
  <div class="quote">
    <%= render :partial => 'quotes/form' %>
  </div>
</div>
<% if @current_user && if @current_user.admin %>
  <%= link_to 'Edit', edit_group_path(@group) %>
<% end %>
<% end %>

