<p id="notice"><%= notice %></p>

<div class="tagCloud">
  
  <!-- One day, this will house the tag cloud -->

</div>
<div class="flexBox">
  <div class="imageLinksGroup">
    <% if @group.avatar == nil %>
      <div class="thumbnailImage img-circle" style="background-image: url('/assets/avatar-default.png')" ></div>
    <% else %>
      <div class="thumbnailImage img-circle" style="background-image: url('<%= @group.avatar %>')" ></div>
    <% end %>
    <h1 class="centerText"><%= @group.name %></h1>

  </div>
</div>
    <hr>  

<% @users.each do |user| %> 
  <div class="flexBox">
    <div class="imageLinksGroup">
      
      <% if user.avatar == "" %>
        <div class="thumbnailImage img-circle" style="background-image: url('/assets/avatar-default.png');" ></div>
      <% else %>
        <div class="thumbnailImage img-circle" style="background-image: url('<%= user.avatar %>')" ></div>
      <% end %>
      <h3><%= user.name.capitalize %> 
        <% if user.tagline %>
          <br>
          <small><%= user.tagline %></small> <br>
        <% end %>
      </h3>
      <%= link_to "Profile", [@group, user] %> |
      <%= link_to "Blog", group_user_posts_path(@group, user) %>
    </div>
  </div>
  <hr>
<% end %>

<% if @current_user && if @current_user.admin %>
  <%= link_to 'Edit', edit_group_path(@group) %>
<% end %>
<% end %>

