<p id="notice"><%= notice %></p>

<p>
  <strong><%= @group.name %></strong>
</p>
<div class="word_cloud"></div>
<% @users.each do |user| %> 
  <%= user.name.capitalize %> <br>
  <%= link_to "Profile", [@group, user] %> |
  <%= link_to "Blog", group_user_posts_path(@group, user) %><br>
  <%= user.email %> 
  <hr>
<% end %>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>


