<div class="boxGroup">
  <div class="boxBox">    
    <%= form_for([@group, @user]) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field flex">
        <%= f.label :name, :style => "width: 80px; text-align: right;" %>
        <%= f.text_field :name, :required => true %>
      </div>
      <div class="field flex">
        <%= f.label :tagline, :style => "width: 80px; text-align: right;" %>
        <%= f.text_field :tagline %>
      </div>
      <div class="field flex">
        <%= f.label :email, :style => "width: 80px; text-align: right;"  %>
        <%= f.text_field :email, :required => true %>
      </div>
      <div class="field flex">
        <%= f.label :password, :style => "width: 80px; text-align: right;" %>
        <%= f.password_field :password, :required => true %> 
      </div>
      <div class="field flex">
        <%= f.label :password_confirmation, :style => "width: 80px; text-align: right;"  %> 
        <%= f.password_field :password_confirmation, :required => true %>
      </div>
      <div class="field flex">
        <%= f.label :avatar, :style => "width: 80px; text-align: right;"  %>
        <%= f.text_field :avatar %>
      </div>
      <div class="field flex">
        <%= f.label :github_username, :style => "width: 80px; text-align: right;"  %>
        <%= f.text_field :github_username %>
      </div>
      <div class="field flex">
        <%= f.label :linkedin_url, :style => "width: 80px; text-align: right;"  %>
        <%= f.text_field :linkedin_profile %>
      </div>
      <div class="field flex">
        <%= f.label :twitter_username, :style => "width: 80px; text-align: right;" %>
        <%= f.text_field :twitter_username %>
      </div>
      <div class="field flex">
        <%= f.label :slack_username, :style => "width: 80px; text-align: right;"  %>
        <%= f.text_field :slack_username %>
      </div>
      <div class="field flex">
        <%= f.label :group_id, :style => "width: 80px; text-align: right;"   %>
        <%= f.select :group_id, Group.all.map {|group|[group.name, group.id]}, :include_blank => true, :required => true %>
      </div>
      <div class="actions pull-right">
        <%= link_to 'Cancel', :back, :class => "btn btn-default" %>
        <%= f.submit :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
