<p id="notice"><%= notice %></p>

<!-- This is the view for the 'users' search results. -->

<h2 class="center">Search Results - Users</h2>
<div class="boxGroup">
  <% @users.each do |user| %>
    <div class="boxBox">
      <span class="dropdown pull-right"> 
        <a href="#" class="dropdown-toggle fa fa-bars" data-toggle="dropdown" role="button" aria-expanded="false"></a>
        <ul class="dropdown-menu" role="menu">
          <li><%= link_to 'View Profile', group_user_path(User.find(user.id).group_id, User.find(user.id)) %></li>
          <li><%= link_to 'View Blog', group_user_posts_path(User.find(user.id).group_id, User.find(user.id)) %></li>
          <% if @current_user %>
            <% if @current_user.id == user.id %>
              <li><%= link_to 'Edit Profile', edit_group_user_path(User.find(user.id).group_id, User.find(user.id)) %></li>
            <% end %>
          <% end %>
        </ul>
      </span>
      <h3>
        <% if user.avatar == "" %>
          <img src="/assets/avatar-default.png" class="miniAvatarImage img-rounded">
        <% else %>
          <img src=<%= user.avatar %> class="miniAvatarImage img-rounded">
        <% end %>
        <%= link_to user.name, group_user_path(User.find(user.id).group_id, User.find(user.id)) %> 
        <small>(<%= link_to Group.find(user.group_id).name, group_path(Group.find(user.group_id).id)  %>)</small>
      </h3> 
    </div>  
  <% end %>

</div>
