<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Avatar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %> | </td>
        <td><%= user.email %> | </td> 
        <td><% if user.avatar == "" %>
              <img src="/assets/avatar-default.png">
            <% else %>
              <img src=<%= user.avatar %>>
            <% end %> | </td>  
        <td><%= link_to 'View Profile', group_user_path(User.find(user.id).group_id, User.find(user.id)) %> | </td>
      </tr>
    <% end %>
  </tbody>
</table>

