<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @user.avatar %>
</p>

<p>
  <strong>Last active:</strong>
  <%= @user.last_active %>
</p>

<p>
  <strong>Alumni:</strong>
  <%= @user.alumni %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<%= link_to 'Edit', edit_group_user_path(@group, @user) %> |
<%= link_to 'Back', root_path %>
