<p id="notice"><%= notice %></p>

<div class="profileGroup">
  <div class="profileBox">
    <div class="profileHeader">
      <h2 class="profileHeaderName"><%= @user.name%>
        <% if @user.tagline != nil %>
          <br><i><small>"<%= @user.tagline %>"</small></i><br>
        <% end %>
      </h2>
    </div>
    <div class="profileContents">
      <% if @user.avatar == "" %>
        <div class="profileImage img-rounded" style="background-image: url('/assets/avatar-default.png');" ></div>
      <% else %>
        <div class="profileImage img-rounded" style="background-image: url('<%= @user.avatar %>')" ></div>
      <% end %>
      <div class="profileDetails">
        <p>
        <strong>Email:</strong>
        <%=mail_to @user.email %>
        </p>
          <strong>LinkedIn:</strong>
          <% if @user.linkedin_profile.present? %>
            <a href="https://<%=@user.linkedin_profile %>" target="_blank">View profile</a> 
          <% else %>
            <i>User has not provided their LinkedIn details. It's almost like they don't even want a job.</i>
          <% end %>
        </p>

        </p>
          <strong>Twitter:</strong>
           <% if @user.twitter_username.present? %>
            <a href="https://twitter.com/<%=@user.twitter_username%>" target="_blank">View feed</a>
          <% else %>
            <i>User has not provided their Twitter handle. They probably have nothing interesting to say anyway</i>
          <% end %>
        </p>

        <% if @user.last_active.present? %>
          <p>
            <strong>Last active:</strong>
            <%= @user.last_active.strftime "%b %e, %l:%M %p" %>
          </p>
        <% end %>  
        <%= link_to 'View Blog', group_user_posts_path(@group, @user, @post) %> 
        | <%= link_to "View Group", group_path(@group) %> 
        <% if @user === @current_user %>
          | <%= link_to 'Edit Profile', edit_group_user_path(@group, @user) %> 
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="socialGroup">
  <div class="socialBox">
    <div class="github">
      <div class="profileHeader"><i class="fa fa-github-square"></i> Github</div>
      <div class="githubBody">
        <% if @user.github_username.present? %>
          <div class="githubProfile"></div>
          <div class="repos"></div>
          <div class="commits"></div>
        <% else %>
          <p>User has not provided their Github details.</p>
          <p>Their code's probably garbage anyway.</p>
        <% end %>
      </div>
    </div>

    <div class="slack">
      <div class="profileHeader"><i class="fa fa-slack"></i> Slack</div>
      <% if @user.slack_username.present? %>
        <div class="slackBody"><p>User is currently <b><%= slack %></b> on slack</p></div>
        <hr>
        <form>
          <input type="text" name="message" placeholder="Say hi on Slack!" id="field">
          <button id="submit">Submit</button>
        </form>
      <% else %>
        <p>User has not provided their Slack details.</p>
        <p>How 'SLACK' is that?! OMGLOLROTFLMAO</p>
      <% end %>
    </div>
  </div>
</div>
  

