<p id="notice"><%= notice %></p>
<div class="flexBox">
  <div class="imageLinksGroup">
    <% if @user.avatar == "" %>
      <div class="largeImage img-circle" style="background-image: url('/assets/avatar-default.png');" ></div>
    <% else %>
      <div class="largeImage img-circle" style="background-image: url('<%= @user.avatar %>')" ></div>
    <% end %>
    <br>
    <h2><%= @user.name.capitalize %> 
      <% if @user.tagline == nil %>
        <br>
      <% else %>
        <br>
        <i><small>"<%= @user.tagline %>"</small></i> <br>
      <% end %>
    </h2>
<%= link_to 'View Blog', group_user_posts_path(@group, @user, @post) %> 
| <%= link_to "View Group", group_path(@group) %> 
<% if @user === @current_user %>
  | <%= link_to 'Edit Profile', edit_group_user_path(@group, @user) %> 
<% end %>
<hr>
  </div>
</div>


<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if @user.linkedin_profile.present? %>
  <p>
    <strong>LinkedIn:</strong>
    <%= link_to 'View Profile', @user.linkedin_profile %>  
  </p>
<% end %>
<% if @user.last_active.present? %>
  <p>
    <strong>Last active:</strong>
    <%= @user.last_active.strftime "%b %e, %l:%M %p" %>
  </p>
<% end %>


<div class="socialGroup">
  <div class="socialBox"></div>
  <% if @user.github_username.present? %>
    <div class="github">
      <div class="githubHeader"><i class="fa fa-github-square"></i> Github</div>
      <hr>
      <div class="githubBody">
        <div class="githubProfile"></div>
        <div class="repos"></div>
        <div class="commits"></div>
      </div>
    </div>
  <% end %>
  <% if @user.slack_username.present? %>
    <div class="slack">
      <div class="slackHeader"><i class="fa fa-slack"></i> Slack</div><hr>
      <div class="slackBody"><p>User is currently <b><%= slack %></b> on slack</p></div>
      <hr>
    <form>
      <input type="text" name="message" placeholder="Say hi on Slack!" id="field">
      <button id="submit">Submit</button>
    </form>
  <% end %>
  <!-- Put Josh's code back here -->
    </div>
  </div>
</div>
  

