<p id="notice"><%= notice %></p>
<div class="flexBox">
  <div class="imageLinksGroup">
    <% if @user.avatar == "" %>
      <div class="largeImage img-circle" style="background-image: url('/assets/avatar-default.png');" ></div>
    <% else %>
      <div class="largeImage img-circle" style="background-image: url('<%= @user.avatar %>')" ></div>
    <% end %>
    <br>
    <h3><%= @user.name.capitalize %> 
      <% if @user.tagline %>
        <br>
        <small><%= @user.tagline %></small> <br>
      <% end %>
    </h3>
    <%= link_to 'View Blog', group_user_posts_path(@group, @user, @post) %> 
    <% if @user === @current_user %>
      | <%= link_to 'Edit Profile', edit_group_user_path(@group, @user) %> 
    <% end %>
  </div>
</div>

<%= link_to 'View Blog', group_user_posts_path(@group, @user, @post) %> 
| <%= link_to "View User's Group", group_path(@group) %> 
<% if @user === @current_user %>
  | <%= link_to 'Edit', edit_group_user_path(@group, @user) %> 
<% end %>

<p>
  <%= @user.name %>
</p>

<p>
  <i>"<%= @user.tagline %>"</i>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <%= link_to 'Linkedin profile', @user.linkedin_profile %>  
</p>

<p>
  <strong>Last active:</strong>
  <%= @user.last_active %>
</p>



<div class="socialGroup">

  <div class="github ">
    <div class="githubHeader"><i class="fa fa-github-square"></i>Github</div>
    <div class="githubBody">
      <div class="githubProfile"></div>
      <div class="repos"></div>
      <div class="commits"></div>
    </div>

  </div>
  <div class="linkedin">
  </div>
  <div class="twitter">
  </div>
  <div class="slack">
 <p><%= slack %></p>

  <form>
    <input type="text" name="message" placeholder="Say hi on Slack!" id="field">
    <button id="submit">Submit</button>
  </form>

<!-- Put Josh's code back here -->

  </div>
</div>
  

