<p id="notice"><%= notice %></p>

<%= link_to 'View Blog', group_user_posts_path(@group, @user, @post) %> |
<%= link_to 'Back', group_path(@group) %> |
<% if @user === @current_user %>
  <%= link_to 'Edit', edit_group_user_path(@group, @user) %> 
<% end %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Avatar:</strong>
  <% if @user.avatar == "" %>
    <img src="/assets/avatar-default.png">
  <% else %>
    <img src=<%= @user.avatar %>>
  <% end %>
</p>

<p>
  <strong>Last active:</strong>
  <%= @user.last_active %>
</p>


<div class="social">

  <div class="github">
  </div>
  <div class="linkedin">
  </div>
  <div class="twitter">
  </div>
  <div class="slack">
  </div>
</div>


