<p id="notice"><%= notice %></p>

<h1><%= @user.name %>'s Blog</h1>

    <% @posts.each do |post| %>
      <div class="postbox">
       <h3><%= link_to post.title.capitalize, [@group, @user, post] %> - <%= post.subtitle.capitalize %></h3>
       <p>"<%= post.content %>"</p>
       <p>Tags: <%= post.tags %></p>

        <% if post.created_at == post.updated_at %>
          <p>Created at: <%= post.created_at %></p>

        <% else %>
          <p>Created at: <%= post.created_at %></p>
          <p>Updated at: <%= post.updated_at %></p>
        <% end %>
      
      <% if @current_user %>
        <% if @current_user.id == @user.id %>
           <%= link_to 'Edit', edit_group_user_post_path(@group, @user, post) %>
           <%= link_to 'Destroy', [@group, @user, post], method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      <% end %>

      </div>
    <% end %>

<br>

<% if @current_user %>
  <% if @current_user.id == @user.id %>
    <%= link_to 'New Post', new_group_user_post_path %> |
  <% end %>
<% end %>
<%= link_to 'Back', [@group, @user] %>


