<h1>Search Results</h1>
<!-- Alfie - does this view actually do anything? -->
<% @posts.each do |post| %>
      <div class="postbox">
      
      
      <h3><%= post.title.capitalize %> - <%= post.subtitle.capitalize %></h3>
       <p>"<%= post.content.html_safe if post.content %>"</p>
       <p>Tags: <%= post.tags %></p>

        <% if post.created_at == post.updated_at %>
          <p>Created at: <%= post.created_at %></p>

        <% else %>
          <p>Created at: <%= post.created_at %></p>
          <p>Updated at: <%= post.updated_at %></p>
        <% end %>
        <%= link_to 'View post', group_user_post_path(User.find(post.user_id).group_id, User.find(post.user_id), post.id) %> 
      </div>
<% end %>  