<p id="notice"><%= notice %></p>

<h1><%= @post.title %> - <%= @post.subtitle %></h1>


<p class="parseMe">
</p>

<p>
  <strong>Tags:</strong>
  <%= @post.tags %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @post.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @post.updated_at %>
</p>

<p>
  <%= cl_image_tag(@post.cl_id) %>
</p>
<hr>

<div class="comments">
  <strong> <%= 'Comments' %></strong><br>
  <% @comments.each do |comment| %>
     <%= User.find(comment.user_id).name %>:
      <%= comment.content %> <br>
  <% end %>
</div>
<hr>
<div class="comment">
  <%= render :partial => 'comments/form' %> 
</div>
<%= link_to 'Edit', edit_group_user_post_path(@group, @user, @post) %> |
<%= link_to 'Back', group_user_posts_path %>
