<p id="notice"><%= notice %></p>

<h1><%= @post.title %> - <%= @post.subtitle %></h1>
<%= link_to 'Edit Post', edit_group_user_post_path(@group, @user, @post) %> 


<p class="parseMe">
</p>

<p>
  <strong>Tags:</strong>
  <%= @post.tags %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @post.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @post.updated_at %>
</p>


<hr>

<div class="comments">
  <strong> <%= 'Comments' %></strong><br>
  <% @comments.each do |comment| %>
  
  <% if @user.avatar == "" %>
    <img src="/assets/avatar-default.png">
  <% else %>
    <img src=<%= User.find(comment.user_id).avatar %>>
  <% end %>
     <p><%= User.find(comment.user_id).name %> <%= comment.title %> </p>
      <%= comment.content %> 
     <p> <%= comment.created_at %> </p>
    <br>
  <% end %>
</div>
<hr>
<div class="comment">
  <%= render :partial => 'comments/form' %> 
</div>

