<p id="notice"><%= notice %></p>

<h1><%= @post.title %> - <%= @post.subtitle %></h1>
<%= link_to 'Edit Post', edit_group_user_post_path(@group, @user, @post) %> 

<div class="post">

  <p class="parseMe">
  </p>

  <p>
    <strong>Tags:</strong>
    <%= @post.tags %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= @post.created_at.strftime "%b %e, %l:%M %p" %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= @post.updated_at.strftime "%b %e, %l:%M %p" %>
  </p>

  <p>
    <%= cl_image_tag(@post.cl_id) %>
  </p>

<hr>
</div>

<div class="comments">
  <strong> <%= 'Comments' %></strong><br>
  <% @comments.each do |comment| %>
  
  <% if @user.avatar == "" %>
    <img src="/assets/avatar-default.png" class="commentAvatar">
  <% else %>
    <img src=<%= User.find(comment.user_id).avatar %> class="commentAvatar">
  <% end %>
     <p><%= User.find(comment.user_id).name %> <%= comment.title %> </p>
      <%= comment.content %> 
     <p> <%= comment.created_at.strftime "%b %e, %l:%M %p" %> </p>
    <br>
  <% end %>
</div>
<hr>
<div class="comment">
  <%= render :partial => 'comments/form' %> 
</div>

