<!DOCTYPE html>
<html>
<head>
  <title>Gas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="backgroundContainer"></div>
  <div class="contentContainer">
  <div class="nav">
  <%= link_to 'GA Student Blog', root_path %>
  <%= link_to 'Login', login_path %>
  <% if @current_user.present? %>
  <%= @current_user.name %>
  <%= link_to("Log out #{@current_user.name}", login_path, :method => :delete) %>
  <% end %>
  </div>

<%= yield %>

  </div>



</body>
</html>
